
<%= for {repo_name, rules} <- [@repo] do %>
repo <%= repo_name %>
    <% IO.puts "hi" %>
    <% IO.inspect rules %>
    <%= if rules[:RW] do %>
    RW+ = <%= for mem <- rules[:RW] do %> <%= mem %> <% end %>
    <% end %>
    <%= if rules[:R] do %>
    R = <%= for mem <- rules[:R] do %> <%= mem %> <% end %>
    <% end %>
    <%= if rules[:W] do %>
    W = <%= for mem <- rules[:W] do %> <%= mem %> <% end %>
    <% end %>
<% end %>
