<h1>Show Project</h1>

<ul>

  <li>
    <strong>Project name:</strong>
    <%= @project.project_name %>
  </li>

  <li>
    <strong>Path to directory:</strong>
    <%= @project.path_to_directory %>
  </li>

</ul>
